<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAR submision | MyMAR.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/resp.js"></script>
</head>
<body>
    <nac id="navbar">
        <div class="navList v-class">
            <div id="logo">
                <img src="../static/img/mar.png" alt="MyMAR.com">
            </div>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="#services">Upcoming Events</a></li>
                <li class="item"><a href="#moocs-section">MOOCS</a></li>
                <li class="item"><a href="/submission">Submission Portal</a></li>
                <li class="item"><a href="#contact">Contact Us</a></li>
                <li class="item"><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="rightNav v-class">
            <input type="text" name="search" id="search">
            <button class="btn">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nac>

    <section id="home">
        <h1 class="h-primary">Welcome!!!</h1>
        <p>After completing higher studies a student is expected to solve the problems of the society. </p>
        <p>She/he should be able to find out problems our society is facing today and will be facing tomorrow. </p>
        <p>They will be able to solve those problems. They will be able to work in a team.</p>
        <p>The world around us is changing at a very fast pace.</p>
        <p>When a student will come out with a degree after four years, She/he will certainly be thrown into a world with new challenges.</p>
        <p>They should be able to convert these challenges  into opportunities. Therefore a student must grow in all spheres besides her/his own subject.</p>
        <button class="btn">Read more</button>
    </section>

    <section id="services">
        <section class="services-container">
            <h1 class="h-primary center">Upcoming Events</h1>
            <div id="services">
                <div class="box">
                    <img src="../static/img/football.webp" alt="">
                    <h2 class="h-secondary center">Football Match</h2>
                    <p>There is going to be a football match on 14th december 2023. Participation certificate will be provided which carries 10 MAR points. Participation as an organizer will grant you 15 MAR points. Interested students are requested to register by clicking below.</p>
                    <button class="btn-secondary">Register</button>
                </div>
                <div class="box">
                    <img src="../static/img/innovation.jpg" alt="">
                    <h2 class="h-secondary center">Innovation</h2>
                    <p>There is going to be a innovative competition on 14th december 2023. Participation certificate will be provided which carries 10 MAR points. Participation as an organizer will grant you 15 MAR points. Interested students are requested to register by clicking below.</p>
                    <button class="btn-secondary">Register</button>
                </div>
                <div class="box">
                    <img src="../static/img/seminar.jpg" alt="">
                    <h2 class="h-secondary center">Seminar</h2>
                    <p>There is going to be a seminar on 14th december 2023. Participation certificate will be provided which carries 10 MAR points. Participation as an organizer will grant you 15 MAR points. Interested students are requested to register by clicking below.</p>
                    <button class="btn-secondary">Register</button>
                </div>
            </div>
        </section>
    </section>

    <section id="moocs-section">
        <h1 class="h-primary center">Online MOOCS Platforms</h1>
        <div id="moocs">
            <div class="moocs-item">
                <img src="../static/img/swayam.png" alt="Swayam">
            </div>
            <div class="moocs-item">
                <img src="../static/img/coursera.png" alt="Coursera">
            </div>
            <div class="moocs-item">
                <img src="../static/img/udemy.png" alt="Udemy">
            </div>
            <div class="moocs-item">
                <img src="../static/img/edx.png" alt="EDx">
            </div>
        </div>
    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="e-mail">E-mail: </label>
                    <input type="email" name="email" id="e-mail" placeholder="Enter your e-mail">
                </div>
                <div class="form-group">
                    <label for="phone">Phone: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.MyMAR.com. All rights reserved!
        </div>
    </footer>
    <script src="../static/js/resp.js"></script>
</body>
</html>
